<h1><%= @user.email %></h1>
<hr>
<div class="created-events">
  <h2>Created Events</h2>
  <%= render "user_events", events: @user.created_events %>
</div>

<div class="attendee-events">
  <h2>RSVPed Events</h2>
  <div class="past-attended-events">
    <h3>Past Events</h3>
    <% past_attended_events = @user.attended_events.where("datetime < ?", Time.now) %>
    <%= render "user_events", events: past_attended_events %>
  </div>
  <div class="future-attending-events">
    <h3>Upcoming Events</h3>
    <% future_attending_events = @user.attended_events.where("datetime > ?", Time.now) %>
    <%= render "user_events", events: future_attending_events %>
  </div>
</div>

<div>
<!--  <%#= link_to "Edit this user", edit_user_path(@user) %> |-->
  <%= link_to "Back to users", users_path %>

  <%#= button_to "Destroy this user", @user, method: :delete %>
</div>
