<h1><%= @user.email %></h1>

<div id="events">
  <h2>Events created</h2>
  <% @user.created_events.each do |event| %>
    <strong><%=link_to event.title, event %></strong>
    <p>
      Location: <%= event.location %> at <%= event.datetime %>
    </p>
  <% end %>
</div>

<div id="attending-events">
  <h2>Events attending</h2>
  <% @user.attended_events.each do |event| %>
    <p>
      <strong><%=link_to event.title, event %></strong>
    </p>
    <p>
      Location: <%= event.location %> at <%= event.datetime %>
    </p>
  <% end %>
</div>

<div>
<!--  <%#= link_to "Edit this user", edit_user_path(@user) %> |-->
  <%= link_to "Back to users", users_path %>

  <%#= button_to "Destroy this user", @user, method: :delete %>
</div>
